:root {
  --color-orange: #FF9900;
  --color-black: #000000;
  --color-white: #FFFFFF;
}
* {
  box-sizing: border-box;
  margin: 0;
}
h1{
  font-size: 1rem;
  margin: 8px 0;
}
h2{
  font-size: 1.25rem;
  margin: 8px 0;
}
#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 8px;
  font-family: sans-serif;
}

label {
  display: inline-block;
  margin-bottom: 4px;
}

input[type="radio"] {
  margin-right: 4px;
  flex: 0;
}

input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: var(--color-orange);
  color: var(--color-white);
  border: none;
}

button[type="button"] {
  background-color: var(--color-white);
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
}

button[type="button"]:hover,
button[type="submit"]:hover {
  opacity: 0.8;
}

.actions {
  margin-top: 16px;
}

.actions button {
  width: 100%;
}

label + input {
  margin-top: 4px;
}

input[type="radio"] + label {
  margin-left: 4px;
  display: inline-block;
  margin-bottom: 10px;
}


.step {
  color: var(--color-orange);
}
